{% extends "base.html" %} {% block content %}

<div class="container d-flex flex-column m-auto w-100 h-100 gap-5">
  <div class="mt-5">
    <h1 class="alert alert-success" style="text-align: center">
      Simple CRUD distributed system
    </h1>
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <script>
      {% for category, message in messages %}
          Swal.fire({
              title: "{{ message }}",
              icon: "{{ category }}"
          });
      {% endfor %}
    </script>
    {% endif %} {% endwith %}
  </div>
  <div
    class="container d-flex flex-row mx-auto my-5 justify-content-evenly gap-5"
  >
    {% include "create.html" %} {% include "read.html" %} {% include
    "update.html" %} {% include "delete.html" %}
  </div>
</div>

{% endblock %}
